* {
    margin: 0;
    padding: 0;
}


.console {
    padding: 10px 30px;
    width: 300px;
    font-family: "PingFang SC";
}


.autoLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#allowAutoLogin {
    cursor: pointer;
}

.addAccount {
    /*border: 1px solid black;*/
    margin-bottom: 10px;

}

.account_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.account_div input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
}

.password_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.password_div input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
}

.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}


#add {
    margin: 10px;
    border-radius: 20px;
    padding: 8px 50px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    outline: none;
}

.currentAccount {
    margin-bottom: 5px;
    height: 60px;
    border-bottom: 1px solid rgb(229, 229, 229);
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 1fr;


}

.currentAccount .current_account {

}

.currentAccount #current {

    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.chooseAccount {
    overflow: hidden;
    width: 240px;
    padding-left: 15px;
    margin-left: -7px;
}


.chooseAccount table, .chooseAccount table th {
    text-align: center;
}

.account_arr {
    width: 240px;
    display: block;
    height: 115px;
    overflow-y: auto;
}

.account_arr tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.selected i img {
    width: 20px;
    height: 20px;
}

.delete i img {
    width: 20px;
    height: 20px;
}

.account_number {
    width: 60%;
    background: lightgray;
}


.icon {
    width: 20px;
    height: 20px;
}